.playing-card {
    border:1px solid black;
    border-radius:8px;
    height:200px;
    width:145px;
    background-repeat: no-repeat;
    background-size: 2150px;
    background-color:white;
    display:inline-block;
}
.playing-card[suit="spade"] {
    background-image:url("img/spades2.png");
}
.playing-card[suit="heart"] {
    background-image:url("img/hearts2.png");
}
.playing-card[suit="diamond"] {
    background-image:url("img/diamonds2.png");
}
.playing-card[suit="club"] {
    background-image:url("img/clubs2.png");
}
.playing-card[suit="back"],
.playing-card.card-back {
    background: green;
}
.playing-card[rank="back"],
.playing-card[rank="ace"] {
    background-position: left center;
}
.playing-card[rank="two"] {
    background-position: 8.3% center;
}
.playing-card[rank="three"] {
    background-position: 16.6% center;
}
.playing-card[rank="four"] {
    background-position: 24.9% center;
}
.playing-card[rank="five"] {
    background-position: 33.3% center;
}
.playing-card[rank="six"] {
    background-position: 41.6% center;
}
.playing-card[rank="seven"] {
    background-position: 50% center;
}
.playing-card[rank="eight"] {
    background-position: 58.3% center;
}
.playing-card[rank="nine"] {
    background-position: 66.7% center;
}
.playing-card[rank="ten"] {
    background-position: 75% center;
}
.playing-card[rank="jack"] {
    background-position: 83.3% center;
}
.playing-card[rank="queen"] {
    background-position: 91.7% center;
}
.playing-card[rank="king"] {
    background-position: right center;
}

.playing-card[rank="joker"] {
    background-image:url("img/jokers2.png");
    background-position: left center;
}
.playing-card[rank="empty"],
.playing-card[suit="empty"],
.playing-card.empty {
    background-image:none;
    background-color: white;
    border: 1px dashed black;
}
