<div class="ticTacToe">
  <h2 class="text-center" ng-show="gameOver===undefined"><span class="text-uppercase">{{currentPlayer}}</span> moves next</h2>
  <h2 class="text-center" ng-show="gameOver==='win'">Player <span class="text-uppercase">{{currentPlayer}}</span> wins!</h2>
  <h2 class="text-center" ng-show="gameOver==='tie'">Tie Game</h2>
  <h4 class="text-center" ng-show="errorMsg">{{errorMsg}}</h4>
  <div id="board">
    <div class="square" ng-class="squareClass($index)" data-index={{$index}}
         ng-repeat="square in boardSquares track by $index"
          ng-click="squareClick($index)">{{$index}}</div>
  </div>
  <button class="btn-danger" ng-click="resetBoard()">Reset board</button>

</div>