/* resize cards for kondike */
.klondike .playing-card {
    border-radius:6px;
    height:120px;
    width:90px;
    background-size: 1500%;
}

.klondike .playing-card.over {
    background-color: #bbb;
}

.klondike .playing-card[draggable="true"] {
    cursor:move;
}

.klondike {
    min-width:700px;
    border:1px solid #666;
}

.klondike .decks {
    height: 130px;
}

.klondike .decks div {
    display:inline-block;
}

.klondike .stock {
    min-width:190px;
    height: 100%;
    padding: 5px;
    float:left;
}

.klondike .discard {
    position:relative;
    height:120px;
}

.klondike .discard .playing-card {
    position: absolute;
    top:0;
    left:0;
}
.klondike .discard .playing-card:nth-of-type(2) {
    left:20px;
}
.klondike .discard .playing-card:nth-of-type(3) {
    left:40px;
}
.klondike .foundation-area {
    padding:5px;
    min-width: 380px;
    height: 100%;
    float:right;
}

.klondike .foundation {
    margin: 2px;
    border: 1px solid white;
}

.klondike .foundation.over {
    border: 1px solid red;
}

.klondike .tableau-area {
    height:400px;
}

.klondike .tableau {
    display:inline-block;
    margin: 2px;
    position: relative;
    width: 95px;
    height:95%;
    border: 1px solid white;
}

.klondike .tableau.over {
    border:1px dotted darkgray;
}

.tableau .playing-card {
    position:absolute;
    top:0;
    left:0;
}
.tableau .playing-card:nth-of-type(3) {
    top:20px;
}
.tableau .playing-card:nth-of-type(4) {
    top:40px;
}
.tableau .playing-card:nth-of-type(5) {
    top:60px;
}
.tableau .playing-card:nth-of-type(6) {
    top:80px;
}
.tableau .playing-card:nth-of-type(7) {
    top:100px;
}
.tableau .playing-card:nth-of-type(8) {
    top:120px;
}
.tableau .playing-card:nth-of-type(9) {
    top:140px;
}
.tableau .playing-card:nth-of-type(10) {
    top:160px;
}
.tableau .playing-card:nth-of-type(11) {
    top:180px;
}
.tableau .playing-card:nth-of-type(12) {
    top:200px;
}
.tableau .playing-card:nth-of-type(13) {
    top:220px;
}
.tableau .playing-card:nth-of-type(14) {
    top:240px;
}
.tableau .playing-card:nth-of-type(15) {
    top:260px;
}
.tableau .playing-card:nth-of-type(16) {
    top:280px;
}
