<div class="klondike">
  <div class="decks">
    <div class="stock">
      <div class="hand">
        <span class="playing-card" ng-class="cardClass('hand', 0)" ></span>
      </div>
      <div class="discard">
        <span class="playing-card" ng-class="cardClass('discard', 0)"></span>
      </div>
    </div>
    <div class="foundation-area">
      <div class="foundation" ng-repeat="stack in klondike.foundations track by $index">
        <span class="playing-card"  ng-class="cardClass('foundations', $index, 0)"></span>
      </div>
    </div>
  </div>
  <div class="tableau-area">
    <div class="tableau" ng-repeat="stack in klondike.tableaus track by $index">
      <span class="playing-card" ng-class="cardClass('tableaus', $parent.$index, $index)" ng-repeat="card in stack"
            suit="{{cardSuitTableau($parent.$index, $index)}}" rank="{{cardRankTableau($parent.$index, $index)}}"}></span>
    </div>

  </div>
</div>
