/* app css stylesheet */

.card-back {
  height: 200px;
  width: 120px;
  border-radius:1em;
  border:1px solid black;
  margin:.5em auto;
  display:inline-block;
  background-color: #31708f;
}

.card-back.empty {
  border:1px dashed #cccccc;
  background-color: white;
}

.card-front {
  height: 200px;
  width: 120px;
  border-radius: 1em;
  border:1px solid black;
  margin:.5em auto;
  display: inline-block;
  position: relative;
}

.card-front .face-char {
  position: absolute;
  top:10px;
  left:15px;
  font-size:1.5em;
}

.suit-icon {
  position:absolute;
  top:38%;
  left:35%;
  height:50px;
  width:50px;
  background-size:100px;
  background-repeat: no-repeat;
  background-image: url('img/suits.png');
}

.suit-diamond {
  background-position: left bottom;
}

.suit-heart {
  background-position: right top;
}

.suit-spade {
  background-position: right bottom;
}

.suit-club {
  background-position: left top;
}